* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: omyu;
  src: url("../font/오뮤_다예쁨체.ttf");
}

body {
  font-family: omyu;
}

button {
  font-family: omyu;
}

.clearFix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  margin: auto;
}

.top > ul > li {
  width: 14%;
}

.head {
  width: 100%;
  height: 120px;
  background-color: white;
  position: fixed;
  z-index: 3;
  border-bottom: 1px solid black;
}

.header-top {
  width: 100%;
  background-color: #fff;
  height: 30px;
  position: fixed;
  color: black;
  z-index: 10;
  text-align: right;
  padding-top: 5px;
}

.header-top2 {
  width: 1184px;
  margin: auto;
}

.header-top2 a {
  padding-right: 10px;
}

.header-top hr {
  background-color: rgb(223, 222, 222);
  height: 1px;
  border: 0;
}

.top {
  height: 100%;
  width: 1184px;
  padding: 40px 20px 0px;
  position: relative;
  z-index: 11;
}

.head.active {
  height: 400px;
}

.subtopmenu {
  padding-top: 50px;
  display: none;
  width: 100%;
  height: 100%;
  padding-left: 5px;
  position: absolute;
  right: 3px;
}

.subtopmenu li {
  font-size: 19px;
  padding-top: 6px;
}

.top > ul {
  display: flex;
}

.top > ul > li {
  position: relative;
}

.top > ul ul li:hover,
.top > ul ul li:focus {
  background: rgb(14, 223, 143);
}

.head:hover {
  display: inline;

  height: 400px;
}
.head:hover .subtopmenu {
  display: block;
}

.topmenu {
  top: 10px;
}

.top button {
  font-size: 19px;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  color: white;
}

.button1 {
  background-color: #683a2f;
  border: none;
}

.button2 {
  background-color: red;
  border: none;
}

.top > ul > li {
  float: left;
  font-weight: bold;
  position: relative;
  font-size: 1.375rem;
}

.swiper-container {
  width: 1440px;
  height: 480px;
  margin: auto;
  z-index: 1;
  position: relative;
}

SwiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
}
.swiper {
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.sec {
  display: none;
}

.youtube1 {
  width: 1440px;
  height: 605px;
  margin: auto;
}

.youtube2 {
  width: 100%;
  height: 605px;
  text-align: center;
}

.center {
  max-width: 1440px;
  padding-left: 148px;
  padding-right: 148px;
  height: 160px;
  background-color: #683a2f;
  color: white;
  font-weight: bold;
}

.center > ul > li {
  position: relative;
  float: left;
  width: 33%;
  padding: 10px 0 0;
  top: 20px;
}

.center > ul > li > p {
  position: relative;
  left: 100px;
  bottom: 90px;
  font-size: 1.25rem;
}

.center button {
  position: relative;
  left: 100px;
  bottom: 80px;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid white;
  width: 110px;
  height: 30px;
}

.youtube {
  width: 300px;
  height: 160px;
}

.facebook {
  width: 300px;
  height: 160px;
}

.instagram {
  width: 300px;
  height: 160px;
}

.center2 {
  width: 1440px;
  height: 400px;
}

.left_content {
  background-color: bisque;
  background-image: url(../../../public/images/버거킹앱.png);
  background-size: cover;
  width: 50%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
}

.right_content {
  background-color: rgb(255, 200, 161);
  background-image: url(../../../public/images/딜리버리이용방법.png);
  background-size: cover;
  width: 50%;
  height: 100%;
  float: right;
  background-repeat: no-repeat;
}

.center3 {
  width: 1440px;
  height: 600px;
  background-color: white;
  padding: 100px 148px 88px;
}

h1 {
  text-align: center;
}

.logo2 {
  display: none;
}

.center3.img {
  text-align: center;
}

.center3 > p {
  display: block;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 1.125rem;
}

.center3 ul {
  text-align: center;
}

.center3 li {
  height: 180px;
  float: left;
  width: 16%;
}

.center3 button {
  width: 140px;
  height: 50px;
  padding: 3px 10px;
  background-color: red;
  border: 1px solid red;
  border-radius: 25px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 23px;
}

.menuul {
  padding-top: 10px;
  text-align: center;
  width: 100%;
}

.menuul ul {
  text-align: center;
}

.menuul strong {
  color: red;
}

.menuul li {
  float: left;
  width: 16.666%;
  padding: 100px 0 8px;
  font-size: 1.125rem;
  line-height: 134%;
}

.menuul li:nth-child(1) {
  background: url(../../../public/images/딜리버리.PNG) no-repeat top;
}

.menuul li:nth-child(2) {
  background: url(../../../public/images/킹.PNG) no-repeat top;
  border-left: 1px solid #ededed;
}

.menuul li:nth-child(3) {
  background: url(../../../public/images/드라이브스루.PNG) no-repeat top;
  border-left: 1px solid #ededed;
}

.menuul li:nth-child(4) {
  background: url(../../../public/images/24시간.PNG) no-repeat top;
  border-left: 1px solid #ededed;
}

.menuul li:nth-child(5) {
  background: url(../../../public/images/아침메뉴.PNG) no-repeat top;
  border-left: 1px solid #ededed;
}

.menuul li:nth-child(6) {
  background: url(../../../public/images/주차공간.PNG) no-repeat top;
  border-left: 1px solid #ededed;
}

.bottom {
  background-image: url(../../../public/images/하단배너.png);
  width: 1440px;
  height: 200px;
}

.bottom > p {
  color: white;
  padding-left: 100px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.bottom span {
  float: right;
  padding-right: 50px;
  font-size: 40px;
}

.bottom > h2 {
  color: white;
  padding-top: 50px;
  padding-left: 100px;
  font-size: 30px;
  font-weight: bold;
}

.bottom2 {
  background-color: #2b0200;
  width: 100%;
  height: 388px;
  padding-left: 20px;
}

.bottom2_1 {
  position: relative;
  width: 1144px;
  height: 388px;
}

.bottom2_1 > ul {
  display: flex;
}

.bottom2_1 a {
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
}

.bottom2_1 > ul > li {
  color: #bba391;
  width: 20%;
  padding-top: 40px;
}

.bottom2_1 > ul > li > ul > li {
  padding-top: 10px;
}

.footer {
  background-color: #2b0200;
  width: 100%;
  height: 255px;
  padding-left: 20px;
}

.footer_1 {
  color: #bba391;
  width: 1144px;
  height: 255px;
}

.h2_logo {
  width: 1144px;
  height: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.h2_logo span {
  float: right;
}

.h2_logo p {
  padding-top: 20px;
}

.footer_1 span {
  padding-right: 5px;
}
.container1 {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  position: absolute;
  top: 120px;
}

.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 180px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 50px;
}

.container2 h3 {
  padding-left: 20px;
  font-size: 50px;
}

.container2 ul {
  padding-top: 20px;
}

.container2 > ul > li:nth-child(1),
.container2 > ul > li:nth-child(2),
.container2 > ul > li:nth-child(3),
.container2 > ul > li:nth-child(4),
.container2 > ul > li:nth-child(5),
.container2 > ul > li:nth-child(6),
.container2 > ul > li:nth-child(7),
.container2 > ul > li:nth-child(8) {
  float: left;
  padding: 0 14px;
  font-size: 22px;
  color: #bbbbbb;
  font-weight: 900;
}

.container2 > ul > li:nth-child(1):hover,
.container2 > ul > li:nth-child(2):hover,
.container2 > ul > li:nth-child(3):hover,
.container2 > ul > li:nth-child(4):hover,
.container2 > ul > li:nth-child(5):hover,
.container2 > ul > li:nth-child(6):hover,
.container2 > ul > li:nth-child(7):hover,
.container2 > ul > li:nth-child(8):hover {
  color: black;
  cursor: pointer;
}

.container2 > div {
  width: 286px;
  height: 300px;

  display: flex;
}

.container2 > div > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.container2 h2 {
  position: absolute;
  text-align: center;
  color: black;
}

.container2 > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.container1 {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  position: absolute;
  top: 120px;
}

.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 180px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 50px;
}

.container2 h3 {
  padding-left: 20px;
  font-size: 50px;
}

.container2 ul {
  padding-top: 20px;
}

.container2 > ul > li:nth-child(1),
.container2 > ul > li:nth-child(2),
.container2 > ul > li:nth-child(3),
.container2 > ul > li:nth-child(4),
.container2 > ul > li:nth-child(5),
.container2 > ul > li:nth-child(6),
.container2 > ul > li:nth-child(7),
.container2 > ul > li:nth-child(8) {
  float: left;
  padding: 0 14px;
  font-size: 22px;
  color: #bbbbbb;
  font-weight: 900;
}

.container2 > ul > li:nth-child(1):hover,
.container2 > ul > li:nth-child(2):hover,
.container2 > ul > li:nth-child(3):hover,
.container2 > ul > li:nth-child(4):hover,
.container2 > ul > li:nth-child(5):hover,
.container2 > ul > li:nth-child(6):hover,
.container2 > ul > li:nth-child(7):hover,
.container2 > ul > li:nth-child(8):hover {
  color: black;
  cursor: pointer;
}

.container2 > div {
  width: 286px;
  height: 300px;

  display: flex;
}

.container2 > div > div {
  width: 100%;
  height: 100%;
  position: relative;
}

.container2 h2 {
  position: absolute;
  text-align: center;
  color: black;
  width: 286px;
  height: 30px;
}

.container2 > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.container2 > div button {
  background-color: white;
  border: white;
}
.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.login-container {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  position: relative;
}

.login-box {
  margin: 0 auto;
  padding: 60px 0 160px;
  width: 400px;
}

.login-box input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-bottom: 1px solid #ebebeb;
}

.login-box button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  border: none;

  position: relative;
}
#userId {
  text-align: center;
}
#userPwd {
  text-align: center;
}
#resetBtn {
  position: relative;
  top: 20px;
}
.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: 0 auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.order-container {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  margin: 0 auto;
}
.order-box {
  width: 700px;
  margin: 0 auto;
}

.order-container h2 {
  padding-bottom: 50px;
}

.order-container th {
  padding-right: 100px;
}
.container1 {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  position: absolute;
  top: 120px;
}

.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.searchId-container {
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

.searchId-box {
  margin: 0 auto;
  padding: 60px 0 160px;
  width: 400px;
}

.searchId-box input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-bottom: 1px solid #ebebeb;
}

.searchId-box button {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 10px;
}

#userPhoneErr {
  display: none;
}

#resetBtn {
  position: relative;
  top: 20px;
}
.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.searchPwd-container {
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

.searchPwd-box {
  margin: 0 auto;
  padding: 60px 0 160px;
  width: 400px;
}

.searchPwd-box input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-bottom: 1px solid #ebebeb;
}

.searchPwd-box button {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: rgb(224, 224, 224);
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  top: 10px;
}

#resetBtn {
  position: relative;
  top: 20px;
}

@media screen and (max-width: 1440px) {
  .container,
  .top,
  .swiper-container,
  .youtube1,
  .center,
  .center2,
  .center3,
  .bottom {
    width: 100%;
  }

  body {
    overflow-x: hidden;
  }
}
.hidden_header {
  display: none;
}
.hidden_head2 {
  height: 120px;
  width: 1184px;
}
.inner {
  padding-left: 20px;
  width: 1100px;
  height: 60px;
  margin: auto;
  padding-top: 20px;
  font-size: 1.2rem;
}

.register-container {
  width: 100%;
  height: 100%;
  padding-top: 200px;
}

.register-box {
  margin: 0 auto;
  padding: 60px 0 160px;
  width: 400px;
}

.register-box form {
  padding-bottom: 10px;
}

.register-box input {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  border-bottom: 1px solid #ebebeb;
}

.register-box button {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  background-color: rgb(224, 224, 224);
  border: none;
}
.hidden_header {
  background-color: white;
}

form p {
  display: none;
  color: red;
}

form p.error {
  display: block;
}

form input.valid {
  background-color: skyblue;
}

form input.invalid {
  background-color: red;
}

#userName {
  text-align: center;
}
#userEmail {
  text-align: center;
}
#userPhone {
  text-align: center;
}
#userRepwd {
  text-align: center;
}

#resetBtn {
  position: relative;
  top: 10px;
}

@media screen and (min-width: 375px) and (max-width: 770px) {
  .fir {
    display: none;
  }
  .hidden_head2 {
    display: none;
  }
  .sec {
    display: block;
  }
  body {
    overflow-x: hidden;
  }

  hr {
    display: none;
  }

  .header-top {
    display: none;
  }

  .head {
    display: none;
  }

  .hidden_header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  .hidden_header img {
    width: 50px;
    height: 50px;
  }

  .hidden_header button {
    font-size: 19px;
    border-radius: 25px;

    width: 100px;
    height: 30px;
    color: white;
    background-color: red;
    border: none;
    position: relative;
    top: 10px;
  }

  .bottom2 {
    display: none;
  }

  .head {
    height: 60px;
  }

  .top {
    padding: 0px;
    height: 60px;
  }

  .toplogo img {
    width: 50px;
    height: 50px;
  }

  .center {
    padding: 0;
  }

  .center3 {
    height: 370px;
    padding: 33px 0 25px;
  }

  .center3 h1 {
    padding-top: 0px;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  .html5-video-player {
    height: 200px;
  }
  .center3 p {
    font-size: 0.75rem;
    padding-bottom: 10px;
  }
  .container1 {
    top: 50px;
  }
  .center3 button {
    width: 130px;
    height: 32px;
    padding: 3px 10px;
    font-size: 15px;
  }

  .swiper-container {
    height: 300px;
  }
  .hidden_header img {
    height: 45px;
    width: 45px;
  }
  .menuul {
    width: 100%;
    height: 211px;
    padding: 0px;
  }
  .bg {
    top: 100px;
  }
  .menuul span {
    display: none;
  }

  .menuul br {
    display: none;
  }

  .menuul li:nth-child(1),
  .menuul li:nth-child(2),
  .menuul li:nth-child(3),
  .menuul li:nth-child(4),
  .menuul li:nth-child(5),
  .menuul li:nth-child(6) {
    background-size: auto 45px;
    border-left: none;
  }

  .menuul li {
    width: 33%;
    height: 70px;
    margin-bottom: 36px;
    font-size: 0.875rem;
    border-right: 0;
    padding: 50px 0 0;
    margin: 36px 0 0;
  }

  .menuul strong {
    display: block;
  }

  .menuul img {
    width: 80px;
    height: 80px;
  }

  .bottom {
    height: 180px;
  }

  .bottom h2 {
    padding: 20px 0 0 20px;
    font-size: 17px;
    position: relative;
  }

  .bottom p {
    padding: 20px 0 0 20px;
    font-size: 12px;
  }

  .bottom span {
    position: absolute;
    top: 140px;
    left: 20px;
    font-size: 30px;
  }

  .bottom img {
    width: 20px;
    height: 20px;
  }
}
